* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #28283c;
  --tomato-red: #b93625;
  --dark-red: #78261b;
  --light-grey: #D8D6D6;
  --seagreen: #2f7a47;
  --dark-green: #245533;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--tomato-red);
  color: #FFF;
}

button:hover {
  background-color: var(--dark-red);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Header/Nav Styles */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  background-color: var(--dark-blue);
  top: 0;
  z-index: 9999;
}

.site-name {
  margin: 30px 0 30px 40px;
  font-size: 32px;
  color: #FFF;
  font-weight: normal;
}

header a {
  text-decoration: none;
}

header nav {
  padding-right: 35px;
  display: flex;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

header nav ul li a {
  padding: 15px 0 5px;
  margin: 25px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #FFF;
}

header nav ul li a:hover {
  border-bottom: 2px solid #FFF;
}

header .active {
  border-bottom: 2px solid #FFF;
}

.content {
  min-height: calc(100vh - 215px);
}

/* Home/Signup/Login Styles */

.hero {
  display: flex;
  justify-content: flex-end;
  background-image: url(./images/hammock-dogs.jpg);
  background-size: cover;
  width: 100%;
  min-height: 650px;
  background-position: center;
}

.signup-form, .login-form {
  background-color: #FFF;
  width: 400px;
  height: 550px;
  margin: 30px 60px;
  align-self: center;
}

.signup-form {
  height: 665px;
}

.login-form {
  height: 470px;
}

.signup-form div, .login-form div {
  padding: 15px 20px 10px;
}

.signup-form h1, .login-form h1 {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
}

.signup-form h1:after, .login-form h1::after {
  content: "";
  display: block;
  margin: 0 auto 15px;
  width: 150px;
  padding-top: 15px;
  border-bottom: 2px solid var(--light-grey);
}

.signup-form form, .login-form form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.signup-form label, .login-form label {
  flex: 100%;
  margin: 12px 15px 6px;
}

.signup-form form input, .login-form form input {
  flex: 100%;
  height: 35px;
  margin: 0 15px;
  padding: 2px 5px;
  border-width: 1px;
}

.signup-form form button, .login-form form button {
  flex: 0 1 50%;
  padding: 10px;
  margin: 10px auto 15px;
  font-size: 1.125rem;
  border-radius: 5px;
  border: none;
}

form .full-name {
  display: inline-flex;
  padding: 0;
  align-items: baseline;
}

form .full-name div {
  padding: 0;
}

form .full-name div:first-child {
  margin: 0 0 0 15px;
}

.signup-form p, .login-form p {
  text-align: center;
  font-size: 14px;
}

.signup p, .login p {
  font-size: 24px;
  padding-top: 30px;
  text-align: center;
  font-weight: normal;
}

.signup p {
  font-size: 22px;
  padding-top: 15px;
}

.signup-form p span:hover, .login-form p span:hover {
  color: var(--dark-red);
  border-bottom: 1px solid var(--dark-red);
  padding-bottom: 2px;
  cursor: pointer;
}

p.required {
  font-size: 12px;
  flex: 1 50%;
  height: 16px;
  text-align: right;
  margin: 5px 15px 0 0;
  padding-top: 0;
}

.login-error, .signup-error {
  font-size: 13px;
  flex: 0 30%;
  margin: 5px 5px 0 15px;
  color: var(--tomato-red);
  font-weight: 600;
}

.about {
  display: block;
  width: 80%;
  margin: 50px auto;
  border: 1px solid #000;
  padding: 40px;
}

.about h2 {
  text-align: center;
  font-weight: normal;
}

.about p {
  padding: 30px 20px;
  text-align: center;
}

/* Footer styles */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center;
  background-color: var(--dark-blue);
  height: 120px;
  align-items: center;
}

footer a svg {
  margin-right: 8px;
  vertical-align: bottom;
  width: 1.3em;
  height: 1.3em;
}

footer a {
  color: #FFF;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

footer a:hover {
  border-bottom: 2px solid #FFF;
}

/* Donate page styles */

.hero-donate {
  background-image: url("./images/dog-cat-snuggle.jpg");
  background-size: cover;
  background-position-y: center;
  height: 425px;
}

.donate-h1 {
  text-align: center;
  padding: 40px 20px 30px;
}

.donate-paws p, .donate-site p {
  margin: 0 auto;
  font-size: 20px;
  max-width: 550px;
  text-align: center;
  padding: 0 15px;
}

.donate-paws div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 40px auto;
}

.donate-paws button {
  font-size: 16px;
  width: 240px;
  margin: 15px 20px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.donation-divider {
  display: flex;
  justify-content: center;
}

.donation-divider hr {
  width: 40%;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  align-self: center;
  margin: 0 20px;
}

.donate-site p {
  padding: 50px 20px 30px;
}

.donate-site small {
  display: block;
  width: 35%;
  margin: 0 auto;
  padding: 0 20px 40px;
  text-align: center;
  color: #908A8A;
}

#profile-section {
  padding: 0px 50px 20px 50px
}

#profile-section h2 {
  margin: 20px 0px 5px 0px;
}

#profile-section h2 span {
  border-bottom: 2px solid var(--light-grey);
  padding-bottom: 5px;
}

#profile-section label {
  font-size: 18px;
  font-weight: 500;
}

#profile-section textarea {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  border: 1px solid #000000;
  border-width: 1px;
  padding: 5px;
}

#profile-section textarea:read-only {
  /* border: 1px solid #c4c4c4;
  border-width: 1px; */
  border: none;
}

#profile-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-box {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}

/* .pet-box, #profile-info, #profile-posts {
  border-style: solid;
  border-width: 1px;
} */

.pet-box {
  border-bottom: 2px solid var(--light-grey);
  margin: 20px 0 20px;
  padding: 0 0 20px;
}

.profile-detail-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 10px;
  justify-content: space-between;
}

.profile-detail-container textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 30px;
  margin-top: 5px;
  resize: none;
}

.fail-input {
  outline: 1px solid red !important;
  border: 1px solid red !important;
  background-color: #ffbec2;
}

.error-text {
  color: red;
  font-size: 13px;
  font-weight: bold;
}


.profile-detail-container label {
  width: 100%;
}

.profile-details-holder {
  width: 60%;
}

.profile-button-holder, .profile-image-upload {
  padding: 10px 0px 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-image-upload {
  padding: 10px 5px 10px 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-button-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.image-upload-button-container div {

}

.pet-details-1 {
  width: 30%;
}

.pet-details-2 {
  width: 50%;
}

.pet-details-3 {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.pet-about-textarea {
  height: 109px !important;
}

.pet-about-label {
  height: 10%;
}

.pet-play-wrapper, .pet-age-wrapper {
  width: 49%;
}

.pet-play-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-play-wrapper label {
  text-align: center;
}

.playdate-buttons:first-of-type {
  padding-right: 25px;
}

input[type="radio"], input[type="radio"]:disabled {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  padding: 0px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: bottom;
}

input[type="radio"]:enabled {
  border: 1px solid #000000;
}

input[type="radio"]:checked {
  background-color: var(--seagreen);
}

.button, #profile-pic-button, .pet-pic-button {
  color: white;
  height: 35px;
  width: 65px;
  border-radius: 7px;
  border: none;
}

#profile-pic-button, .pet-pic-button {
  width: 75px;
}

#profile-pic-button label {
  font-size: 15px;
}

.pet-pic-button label {
  font-size: 15px !important;
}

.button:active, #profile-pic-button:active, .pet-pic-button:active {
  filter: brightness(75%);
}

.pet-edit, .profile-edit, .pet-add {
  background-color: var(--seagreen);
  font-size: 16px;
}

.pet-edit:hover, .profile-edit:hover, .pet-add:hover  {
  background-color: var(--dark-green);
}

#profile-pic-button, .pet-pic-button {
  background-color: #2020a7;
}

#profile-pic-button:hover, .pet-pic-button:hover {
  background-color: var(--dark-blue);
}

.profile-save, .pet-save {
  background-color: var(--seagreen);
}

.profile-save:hover, .pet-save:hover {
  background-color: var(--dark-green);
}

.pet-add {
  width: 150px;
  margin-top: 20px;
}

.pet-delete {
  background-color: var(--tomato-red);
  margin-left: 10px;
}

.pet-delete:hover {
  background-color: var(--dark-red);
}

.pet-button-holder {
  padding: 10px 0px 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pet-image-container {
  width: 50%;
  max-width: 150px;
  min-width: 100px;
  position: relative;
}

.profile-image-container {
  width: 80%;
  min-width: 100px;
  max-width: 175px;
  position: relative;
}

.upload-img {
  width: 25px;
  height: 25px;
}

.pet-image-container:after, .profile-image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.pet-image, .profile-image-container img {
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #bbbbbb;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

img[readonly="readonly"] {
  border-color: #000000 !important;
}

.profile-image-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#profile-info {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

#profile-posts {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}

#profile-posts label {
  width: 100%;
}

#posts-container {
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 1px;
  width: 100%;
  height: 90%;
  padding: 10px;
}

#posts-container ul {
  margin: 0px;
  padding-left: 20px;
}

#profile-info, #profile-posts {
  width: 50%;
}

#profile-posts {
  margin-left: 10px;
}

#profile-details {
  display: flex;
  padding-top: 10px;
}

/* Pawfeed styles */
.pawfeed-container {
  display: flex;
}

.feed-menu-wrap {
  display: contents;
}

.feed-menu-wrap input {
  display: none;
}

.drawer {
  display: contents;
}

.drawer div {
  display: contents;
}

.pawfeed-container ul.feed-menu {
  flex: 0 220px;
  background-color: var(--light-grey);
  list-style-type: none;
  padding-top: 25px;
}

.pawfeed-container ul.feed-menu li {
  width: 200px;
  padding: 10px 12px;
  margin: 10px 0 0 20px;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.pawfeed-container ul.feed-menu .active {
  background-color: var(--dark-blue);
  color: #FFF;
  /* filter: drop-shadow(0px 1px 1px var(--dark-blue)); */
  border-radius: 5px 0 0 5px;
}

.feed-section {
  flex: 1 1 65%;
  margin: 0 40px;
}

.feed-section h2 {
  font-size: 30px;
  margin: 30px 0 10px;
  text-align: center;
}

.feed-section div form, .reply-form {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0;
}

.feed-section div form label {
  flex: 0 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

.feed-section div form textarea {
  width: 100%;
  height: 110px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.feed-section div form input {
  width: 100%;
  border-width: 1px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.feed-section div form button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  height: 40px;
  flex: 0 160px;
  margin: 15px auto 0;
}

.reply-form button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  height: 40px;
  flex: 0 160px;
  align-self: center;
  margin: 0 auto;
}

.refresh-pawfeed {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
}

.new-post-form {
  max-width: 700px;
  margin: 40px auto;
}

.new-post-form p {
  text-align: right;
  width: 98%;
  font-size: 14px;
}

.new-post-form form select {
  flex: 0 100%;
  margin-bottom: 10px;
  padding: 6px;
  font-size: 16px;
}

.pawfeed-list .card {
  display: block;
}

.card {
  padding: 20px;
  margin: 10px 0 20px;
  border: 1px solid #000;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-header div {
  margin-right: 20px;
}

.card-header span {
  font-size: 14px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
/* 
.card-body div {
  padding: 10px 0;
} */

.card-body div a {
  font-weight: 500;
}

.reply-form-container {
  border: 1px solid #000;
  border-top: none;
  padding: 20px;
}

.reply-form {
  /* max-width: 700px; */
  margin: 0 auto;
}

.replies-header::after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  width: 45px;
}

.reply-form textarea {
  flex: 0 100%;
  border-radius: 5px;
  height: 100px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.user-reply {
  flex: 0 1 100%;
  padding-bottom: 10px;
  border: 1px solid #000;
  border-bottom: none;
  padding: 20px;
}

.user-reply:first-child {
  border-top: none;
}

.user-reply:last-child {
  border-bottom: 1px solid #000;
}

.user-reply p {
  padding-bottom: 10px;
}

.reply-card {
  border: none;
  padding: 0;
  margin: 0;
}

.single-post-card {
  margin: 0;
}

.reply-card .card-body {
  padding: 0;
}

.reply-form p {
  flex: 0 99%;
  font-size: 14px;
  text-align: right;
  padding-top: 5px;
}

.reply-form button {
  margin-top: 10px;
}

.view-replies, .username-link, .user-reply a {
  color: var(--tomato-red);
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
}

.view-replies:hover, .username-link:hover, .user-reply a:hover {
  color: var(--dark-red);
  border-bottom: 2px solid var(--dark-red);
}

.post-card-hr {
  display: inline-flex;
  height: 18px;
  border: none;
  border-left: 1px solid #4e4c4c;
  margin: 0 8px;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.single-post-container {
  max-width: 1400px;
  margin: 40px auto;
}

.single-post-container h3 {
  margin-bottom: 10px;
}


@media screen and (max-width: 800px) {
  .site-name {
    margin-left: 25px;
  }
  header nav {
    padding-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .single-post-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 200px;
  }

  header {
    height: auto;
  }

  header nav {
    flex: 1 100%;
    justify-content: center;
    margin-bottom: 30px;
  }

  .site-name {
    flex: 1 100%;
    text-align: center;
    margin: 30px auto;
  }

  .signup-form, .login-form {
    margin: 30px 20px;
  }

  .about {
    width: 90%;
  }

  .pawfeed-container {
    display: block;
  }

  .drawer {
    overflow: auto;
    white-space: nowrap;
  }

  .feed-menu {
    position: sticky;
    top: 148px;
    z-index: 999;
    overflow-x: scroll;
  }

  .pawfeed-container ul.feed-menu {
    padding: 15px 10px;
    text-align: center;
  }

  .pawfeed-container ul.feed-menu li {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 7px 12px;
    font-size: 16px;
    text-align: center;
  }

  .pawfeed-container ul.feed-menu .active {
    border-radius: 17px;
  }

  .feed-section {
    margin: 0 20px;
  }

  footer {
    height: auto;
  }

  footer p {
    padding: 15px 10px;
  }

  #profile-section {
    padding: 0px 20px 20px 20px;
  }

  #profile-details {
    display: flex;
    flex-wrap: wrap;
  }

  #profile-info, #profile-posts {
    width: 100%;
  }

  #profile-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  #profile-posts {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .profile-image-holder {
    width: 100%;
    display: contents;
  }

  .profile-detail-container {
    padding: 0px 0px 10px 0;
  }

  .profile-details-holder {
    width: 100%;
  }

  .profile-image-container {
    width: 25%;
    grid-row: 1;
    margin: 0 auto;
  }

  .profile-button-holder {
    padding-top: 20px;
  }

  .profile-edit, #profile-pic-button, .pet-pic-button {
    width: 125px;
  }

  #profile-section h2:nth-of-type(2) {
    padding-top: 30px;
    border-top: 2px solid var(--light-grey);
    margin-top: 30px;
    font-size: 30px;
  }

  .pet-box {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .pet-details-3 {
    display: contents;
  }

  .pet-image-container {
    grid-row: 1;
    margin: 0 auto;
    width: 25%;
  }

  .pet-details-1, .pet-details-2 {
    width: 100%;
  }

  .pet-button-holder {
    justify-content: space-evenly;
  }

  .pet-button-holder button {
    width: 125px;
  }

  .image-upload-button-container {
    width: 100%;
    display: contents;
  }

  .profile-image-upload {
    grid-row: 2;
  }
  .pet-image-upload {
    grid-row: 2;
    margin: 0 auto;
  }
  
}

@media screen and (max-width: 525px) {
  .signup-form, .login-form {
    margin: 30px auto;
  }

  .about {
    margin: 35px auto;
    padding: 30px 20px;
  }

  .about p {
    padding: 30px 0;
  }

  .hero-donate {
    height: 250px;
  }
}

@media screen and (max-width: 465px) {
  header nav ul li a {
    margin: 10px;
  }
}

@media screen and (max-width: 414px) {
  form .full-name, form .full-name div {
    display: contents;
  }

  label[for="first-name"], label[for="last-name"] {
    flex: 100% 1;
    margin: 12px 15px 6px;
  }

  #first-name, #last-name {
    margin: 0 15px;
  }

  .signup-form {
    height: 700px;
  }
}

@media screen and (max-width: 320px) {
  .signup-form div, .login-form div {
    padding: 0;
  }

  header nav ul li a {
    margin: 7px;
  }
}
